<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="page-title">
        <h1>Power Converter Assistant</h1>
    </div>
    <div class="chat-container">
        <div class="chat-box" id="chat-box"></div>
        <div class="input-container">
            <textarea id="user-input" placeholder="Type your message... (ctrl+Enter)"></textarea>
            <button id="send-button" onclick="sendMessage()">Send</button>
            <button onclick="runGUI()">Launch GUI</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
